{% extends 'newbase.html.twig' %}
{% block title %}<title>User Map</title>{% endblock %}

{% block body %}
  <div class="col-12">
        <div class="card mb-4">
            <h5 class="card-header">User Location</h5>
            <div class="card-body">
                <div class="leaflet-map" id="userLocation"></div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 50px;"></div> <!-- Add some space here -->

    <!-- Include Leaflet library -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Include Leaflet.locatecontrol plugin -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>

    <script>
        // Initialize Leaflet map
        var map = L.map('userLocation').setView([51.505, -0.09], 13); // Set your desired initial center and zoom level

        // Add a tile layer to the map (you can use different tile providers)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Add Leaflet.locatecontrol plugin to the map
        L.control.locate().addTo(map);

        // Define array of locations
        var locations = [
            {lat: 36.899741119502714, lng: 10.185295979653816, name: 'Pharmacie Radhia Hedfi Rouahi'},
            {lat: 36.899083993668015, lng: 10.183429084300437, name: 'Pharmacie Ines abid kallel'},
            {lat: 36.89909180639492, lng: 10.180820333617724, name: 'Pharmacie de Nuit Jihene Dziri Ghroubi'},
            {lat: 36.90157510008835, lng: 10.183630617123328, name: 'Pharmacie Selima'},
            {lat: 36.90037687753828, lng: 10.180595193680583, name: 'Pharmacie Oueslati Nejib'},
            {lat:  36.89701362615513, lng: 10.181123437699414, name: 'Pharmacie Imen Hammami Ammar'},
        ];

        // Iterate over locations and add markers to the map
        locations.forEach(function(location) {
            var popupContent = `
                <div style="text-align: center;">${location.name}</div>`;
            L.marker([location.lat, location.lng]).addTo(map)
                .bindPopup(popupContent); // Add a popup with the location name and button
        });  
    </script>
</div>
{% endblock %}
