{# templates/blog/_search_results.html.twig #}

{% for result in results %}
    {# Render each search result as needed #}
    <div class="search-result">
        {{ result.title }}
    </div>
{% endfor %}
