{# search_results.html.twig #}

{% extends 'BaseBack.html.twig' %}

{% block content %}
    <h1>Search Results</h1>

    {% for diagnosticRequest in diagnostic_requests %}
        {# Affichez les détails du DiagnosticRequest selon vos besoins #}
        <p>{{ diagnosticRequest.analyseType }} - {{ diagnosticRequest.status }} - ...</p>
    {% endfor %}
{% endblock %}