{% extends 'BaseBack.html.twig' %}



{% block body %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Edit Medical Record</h1>

    <!-- Removed the outer div here and directly start with the card -->
    

   
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{{ path('admin_medical_record_index') }}" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> Back to list</a>
        </div>
        <div class="col-auto">
            {# Including the delete form #}
            {{ include('BackOffice/medical_record/_delete_form.html.twig') }}
        </div>
                <div class="card-body">
            {# Including the form with the specified button label #}
            {{ include('BackOffice/medical_record/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
</div>
{% endblock %}
